<div class="main-container">
    <!-- Left side: Battlefield (50%) -->
    <div class="battlefield">
        <div class="grid">
            <div class="row">
                <div class="cell label"></div>
                <div class="cell letters" *ngFor="let col of columnLabels">{{ col }}</div>
            </div>
            <div class="row" *ngFor="let row of grid; let r = index">
                <div class="cell label">{{ r + 1 }}</div>
                <div class="cell" *ngFor="let cell of row"
                    [ngClass]="(cell.status === 'revealed-ship' && cell.type != 'additional') || cell.status === 'revealed-carrier' ? 'on-fire ' : cell.status"
                    [class.just-revealed]="cell.justRevealed"
                    [class.revealed-carrier]="cell.status === 'revealed-carrier'">
                    <i *ngIf="cell.status === 'revealed-ship' && cell.type != 'additional'"
                        class="fa-solid fa-ship"></i>
                    <img *ngIf="cell.status === 'revealed-ship' && cell.icon" [src]="cell.icon" [ngClass]="cell.icon"
                        width="24" height="24" />
                    <ng-container *ngIf="cell.status === 'hit-sunk'">
                        <i class="fa-solid fa-ship ship-silhouette" aria-hidden="true"></i>
                        <i class="fa-solid fa-skull-crossbones sunk-mark" aria-hidden="true"></i>
                    </ng-container>
                    <ng-container *ngIf="cell.status === 'carrier-sunk'">
                        <i class="fa-solid fa-ship ship-silhouette" aria-hidden="true"></i>
                        <i class="fa-solid fa-skull-crossbones sunk-mark" aria-hidden="true"></i>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <!-- Right side: Panel container (50%) divided into 66/33 -->
    <div class="right-panel-container">
        <!-- Top: List panel (66%) -->
        <div class="list-panel">
            <div class="highlight-label">
                {{nextMessage}}: <strong>{{ names[highlightedIndex] }}</strong>
            </div>
            <div cdkDropList [cdkDropListDisabled]="locked">
                <mat-card *ngFor="let name of names; index as i" cdkDrag class="name-card" [class.locked]="locked"
                    [class.highlighted]="i == highlightedIndex" [@slideInAnimation]="namesLoaded"
                    [@highlightAnimation]="i == highlightedIndex">
                    {{ i+1 }}. {{ name }}
                </mat-card>
            </div>
        </div>

        <!-- Popup overlay: centered black box, only when showPopup is true -->
        <div class="popup-overlay">
            <div class="popup-box" *ngIf="showPopup">
                <div class="popup-line-head" *ngIf="cellMessage">{{ cellMessage }}</div>
                <div class="popup-line-head" *ngIf="actionMessage">{{ actionMessage }}</div>
                <div class="popup-line" *ngIf="changesMessage">{{ changesMessage }}</div>
            </div>
        </div>

        <!-- Bottom: Table container (33%) -->
        <div class="table-container-wrapper">
            <table mat-table [dataSource]="dataSource" class="mat-table modern-table">
                <ng-container matColumnDef="place">
                    <th class="header" mat-header-cell *matHeaderCellDef> {{placeMessage}} </th>
                    <td class="table-row" mat-cell *matCellDef="let team"> {{ team.place }} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th class="header" mat-header-cell *matHeaderCellDef> {{teamMessage}} </th>
                    <td class="table-row" mat-cell *matCellDef="let team"> {{ team.name }} </td>
                </ng-container>

                <ng-container matColumnDef="pointA">
                    <th class="header" mat-header-cell *matHeaderCellDef> {{shipMessage}} </th>
                    <td class="table-row" mat-cell *matCellDef="let team"> {{ team.ship_kill_points }} </td>
                </ng-container>

                <ng-container matColumnDef="pointB">
                    <th class="header" mat-header-cell *matHeaderCellDef> Палубы </th>
                    <td class="table-row" mat-cell *matCellDef="let team"> {{ team.ship_hit_points }} </td>
                </ng-container>

                <ng-container matColumnDef="pointC">
                    <th class="header" mat-header-cell *matHeaderCellDef> {{answerMessage}} </th>
                    <td class="table-row" mat-cell *matCellDef="let team"> {{ team.question_points }} </td>
                </ng-container>

                <ng-container matColumnDef="pointD">
                    <th class="header" mat-header-cell *matHeaderCellDef> {{bonusMessage}} </th>
                    <td class="table-row" mat-cell *matCellDef="let team"> {{ team.bonus_points }} </td>
                </ng-container>

                <ng-container matColumnDef="pointE">
                    <th class="header" mat-header-cell *matHeaderCellDef> {{penaltyMessage}} </th>
                    <td class="table-row" mat-cell *matCellDef="let team"> {{ team.penalty_points }} </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th class="header" mat-header-cell *matHeaderCellDef> {{totalMessage}} </th>
                    <td class="table-row" mat-cell *matCellDef="let team"> {{ team.total }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngStyle]="isInSwap(row) ? {'outline': '2px solid red'} : null"></tr>
            </table>
        </div>
    </div>
</div>