<div class="position-relative">
    <app-sidebar-game [isSidebarCollapsed]="isSidebarCollapsed" (sidebarToggle)="onSidebarToggle()">
    </app-sidebar-game>
    <button class="sidebar-toggle-btn" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }"
        (click)="onSidebarToggle()">
        <i class="fas fa-bars"></i>
    </button>
</div>
<div class="below-content">
    <div class="time-content-container">
        <label>Идёт вопрос {{questionNumber}}, оставшееся время <span class="timer">{{timeLeft}}</span></label>
        <button (click)="showBattlefield()">Показать поле боя</button>
        <button (click)="showTable()">Показать таблицу</button>
        <label>{{ highlightedIndex }} / {{ names[highlightedIndex] }}</label>
        <label>Переключить на: </label>
        <select id="user" [(ngModel)]="selectedIndex" (change)="onUserChange($event)">
            <option value="">Выберите команду</option>
            <option *ngFor="let name of names; index as i" [value]="i">{{ i }} / {{ name }}</option>
        </select>
        <label>Количество уничтоженных кораблей: {{ number_of_killed_ships }}</label>
        <button (click)="finishGame()" *ngIf="number_of_killed_ships == 21"><i class="fa-solid fa-flag-checkered" style="color: #000000;"></i> Завершить игру</button>
        <button (click)="showAllCells()" *ngIf="number_of_killed_ships == 21"><i class="fa-solid fa-flag-checkered" style="color: #000000;"></i> Показать все ячейки</button>
    </div>
    <div class="categories-content-container">
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>id</th>
                    <th>Вопрос</th>
                    <th>Сыгран ли вопрос</th>
                    <th>Очки за правильный ответ</th>
                    <th>Запустить данный вопрос</th>
                    <th>Посмотреть ответы команд</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let question of gameQuestions; index as i" [class.highlighted-row]="i === currentPlayingQuestionIndex">
                    <td>{{ i + 1 }}</td>
                    <td>{{ question.id }}</td>
                    <td>{{ question.text }}</td>
                    <td><i class="fa-solid fa-check" style="color: #63E6BE;" *ngIf="question.is_played"></i></td>
                    <td>
                      <select [(ngModel)]="question.question_type" class="question-type-select" (change)="onQuestionTypeChange(i, $event)">
                        <option *ngFor="let option of questionTypeOptions" [value]="option.value">
                          {{ option.label }}
                        </option>
                      </select>
                    </td>
                    <td>
                        <button (click)="startQuestion(i+1)"><i class="fa-sharp fa-solid fa-circle-play"
                                style="color: green;"></i></button>
                    </td>
                    <td>
                        <button (click)="seeUserAnswers(question.id, i+1, question.question_type)"><i class="fa-solid fa-eye"
                                style="color: blue;"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>