.table-container {
  background-color: #f9fafc; /* light background */
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
  overflow-x: auto;
  width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.header {
    background-color: #3873C3 !important;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Nokia';
}

.table-row {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Nokia';
}

th,
td {
    border: 1px solid #5EBBC2;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    cursor: pointer;
}

th i {
    margin-left: 5px;
}

th i.fa-sort-up {
    color: #007bff;
}

th i.fa-sort-down {
    color: #dc3545;
}


/* .modern-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px #e0e0e0;
} */

/* .modern-table th,
.modern-table td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
}

.modern-table th {
  background-color: #eef1f5;
  color: #444;
  font-weight: 600;
}

.modern-table td {
  background-color: #ffffff;
  color: #333;
}

.modern-table tr:last-child td {
  border-bottom: none;
} */

.sidebar-toggle-btn {
    position: absolute;
    top: 1rem;
    left: 200px;
    background-color: #2c3e50;
    border: none;
    color: #fff;
    padding: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
    z-index: 1001;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.sidebar-toggle-btn:hover {
    background-color: #34495e;
}

.sidebar-toggle-btn.sidebar-collapsed {
    left: 15px;
}