.table-content-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f3f3f3;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-family: 'Nokia' !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1vw;
    border-radius: 8px;
    overflow: hidden;
}

th {
    color: white;
}

th,
td {
    border: 1px solid #e0e0e0;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
    font-family: 'Nokia' !important;
}

tr {
    font-family: 'Nokia' !important;
}

.th-light {
    background-color: #f5f5f5;
}

.th-dark {
    background-color: gray;
}

/* Add zebra striping for better readability */
.tr-even {
    background-color: #f9f9f9;
    color: black;
}

.tr-odd {
    background-color: darkgray;
    color: black;
}

.tr-first {
    text-align: left;
    align-items: left;;
}

.background {
    background-color: gray;
}

.table {
    width: 100%;
    height: 900px;
    display: flex;
    font-size: 2vw;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

.greenColor {
    background-color: #14d2a4;
}

.blueColor {
    background-color: #037da1;
}