<div class="content-container">
  <div class="centered">
    <h1 class="question" style="white-space: pre-line">{{ question }}</h1>
    <br><br><br>
    <div *ngIf="!answerSent && !isDisabled">
      <textarea *ngIf="questionType == 'textarea'" [(ngModel)]="answer" (ngModelChange)="sendProvisionalAnswer()" placeholder="Ваш ответ"
        rows="3"></textarea>
      <div class="radio" *ngIf="questionType == 'radio' || questionType == 'geolocation'" [ngClass]="{'div-geo' : questionType == 'geolocation'}">
        <label *ngFor="let option of radioAnswers"
          [ngClass]="{'isChecked' : answer == option.text,'isNotChecked' : answer != option.text}">
          <input type="radio" name="option" value="option.text"
            (change)="onRadioItemChange(option.text)">{{option.text}}
        </label>
      </div>
      <div class="checkbox" *ngIf="questionType == 'checkbox'">
        <label *ngFor="let option of checkboxAnswers"
          [ngClass]="{'isChecked' : option.checked,'isNotChecked' : !option.checked}">
          <mat-checkbox (change)="onItemChange(option.text)" [checked]="option.checked">
            {{option.text}}</mat-checkbox>
          {{option.text}}
        </label>
      </div>
      <button class="button-43" [disabled]="answer === '' && answersArray.length == 0"
        (click)="sendAnswer()">{{sendMessage}}</button>
    </div>
    <div *ngIf="answerSent">
      <h1 class="answerSent">{{answerMessage}}</h1>
    </div>
  </div>
</div>