.sidebar-toggle-btn {
    position: absolute;
    top: 1rem;
    left: 200px;
    background-color: #2c3e50;
    border: none;
    color: #fff;
    padding: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
    z-index: 1001;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.sidebar-toggle-btn:hover {
    background-color: #34495e;
}

.sidebar-toggle-btn.sidebar-collapsed {
    left: 15px;
}

.users-content-container {
    max-width: 70%;
    margin: 20px auto;
    margin-top: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

th:hover {
    background-color: #267bb5;
}

th i {
    margin-left: 5px;
}

td button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
    color: #3498db;
    /* Set the color of Font Awesome icons */
}

td button:hover {
    color: #267bb5;
    /* Change color on hover */
}

.navigation-bar {
    background-color: #ccc;
    /* Set the background color of the navigation-bar */
    height: 40px;
    /* Set the height of the navigation-bar */
    position: fixed;
    /* Fix the navigation-bar position */
    width: 100%;
    /* Make the navigation-bar span the entire width */
    top: 0;
    /* Position it at the top */
    z-index: 1000;
    /* Set a high z-index to ensure it's above other elements */
}

.label-content-container {
    display: flex;
    justify-content: space-around;
    /* Adjust as needed */
    align-items: center;
    height: 100%;
}

.label {
    color: #333;
    /* Set the text color of labels */
    font-weight: bold;
}

/* Add these styles to your component's CSS file or in the global styles.css file */
.search-content-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.search-content-container label {
    margin-right: 10px;
    font-weight: bold;
}

.search-content-container input,
.search-content-container select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.search-content-container select {
    min-width: 150px;
}