/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Nokia'; /*a name to be used later*/
    src: url('/assets/Eastman-Medium.ttf'); /*URL to font*/
}

html, body { height: 100%; }
body { margin: 0; 
    font-family: 'Nokia', sans-serif !important; }
